<div class="container">
  <h3>Reviews</h3>
</div>
<h4 *ngIf="currentReviews.length == 0">There are no new reviews.</h4>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="currentReviews">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ currentPage * pageSize + i + 1 }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.comment }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.rating }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef> Created date </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.createdDate | date : "yyyy-MM-dd HH:mm" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onApprove(element.id)">
          <mat-icon>check</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="pagination-controls">
    <button
      mat-raised-button
      (click)="previousPage()"
      [disabled]="currentPage === 0"
    >
      Previous
    </button>
    <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
    <button
      mat-raised-button
      (click)="nextPage()"
      [disabled]="currentPage >= totalPages - 1"
    >
      Next
    </button>
  </div>
</div>
