<mat-tab-group
  class="homeDisplay"
  (selectedTabChange)="switchDisplay($event.tab.textLabel)"
>
  <mat-tab label="PRODUCTS"></mat-tab>
  <mat-tab label="SERVICES"></mat-tab>
</mat-tab-group>
@if (currentContainer == 'P') {
<div class="container">
  <app-purchase-offering-filter
    [filterCriteria]="currentContainer"
    [eventId]="eventId"
    (clicked)="filterProducts($event)"
  />
  <div class="pagination">
    <button (click)="getPreviousPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    @if (totalPages > 0) {
    <p>{{ currentPage + 1 }}/{{ totalPages }}</p>
    } @else {
    <p>No results</p>
    }
    <button (click)="getNextPage()"><mat-icon>navigate_next</mat-icon></button>
  </div>
</div>
<div class="all-offerings-container">
  <div *ngFor="let offer of currentOfferings">
      <app-offering-purchase-card
        (clicked)="toggleFavouriteOfferings($event)"
        [offering]="offer"
        [eventId]="eventId"
      />
    </div>
</div>




} @else {
<div class="container">
  <app-purchase-offering-filter
    [filterCriteria]="currentContainer"
    [eventId]="eventId"
    (clicked)="filterOfferings($event)"
  />
  <div class="pagination">
    <button (click)="getPreviousPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    @if (totalPages > 0) {
    <p>{{ currentPage + 1 }}/{{ totalPages }}</p>
    } @else {
    <p>No results</p>
    }
    <button (click)="getNextPage()"><mat-icon>navigate_next</mat-icon></button>
  </div>
  <div class="all-offerings-container">
    <div *ngFor="let offer of currentOfferings">
      <app-offering-purchase-card
        (clicked)="toggleFavouriteOfferings($event)"
        [offering]="offer"
        [eventId]="eventId"
      />
    </div>
  </div>
</div>
}
