
<mat-form-field class="example-search-bar" appearance="outline">
  <mat-label>Search service</mat-label>
  <input matInput (input)="onSearch($event)" placeholder="Service name">
  <button mat-icon-button matSuffix>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button matSuffix>
      <mat-icon>Filter</mat-icon>
    </button>

</mat-form-field>


  <div class="service-container">
    <div class="service-card" *ngFor="let service of filteredServices">
      <div class="header">
        <h2>{{service.name}}</h2>
        
      </div>
      <div class="price">
        <p>{{service.price}}</p>
      </div>
      <div class="description">
        <p>{{service.description}}</p>
      </div>
      <div class="footer">
          <button mat-icon-button matSuffix>
              <mat-icon>Delete</mat-icon>
            </button>
            <button mat-icon-button matSuffix>
              <mat-icon>Edit</mat-icon>
            </button>
      </div>
    </div>
  </div>


<button mat-fab color="primary" (click)="onToggle()" class="fab-button">
  <mat-icon>add</mat-icon>
</button>

