@use "sass:map";
@use "@angular/material" as mat;
@use "../../../../theme/m3-theme.scss" as theme;

.chat-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    background-color: mat.get-theme-color(theme.$light-theme, primary);
    margin: 3rem;
    margin-bottom: 0;
}

.chat-title {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.chat-buttons {
    margin-right: 0.5rem;
    display: flex;
    gap: 0.5rem; 
}

.chat-buttons button {
    padding: 0.3rem 0.6rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.chat-buttons button:hover {
    background-color: #161b21;
}


.chat-list {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px; 
    background-color: #fafafa;
    height: 32rem; 
    overflow-y: auto;
    margin: 3rem;
    margin-top: 0;
}

.chat-list::-webkit-scrollbar {
    width: 8px;
}

.chat-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.chat-list::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
.scroll-button {
    color: mat.get-theme-color(theme.$light-theme, primary);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  .scroll-button:hover {
    color: #172d3b; 
  }
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
  }
