@use "sass:map";
@use "@angular/material" as mat;
@use "../../../../theme/m3-theme.scss" as theme;
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin: 3rem;
    margin-top: 1rem;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  h3 {
    color: mat.get-theme-color(theme.$light-theme, primary);
    font-size: 3rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .container {
    display: flex;
    justify-content:space-around;
    align-items: center;
  }