<div class="container" *ngIf="!isSubmitted">
  <h3>Offering categories</h3>
  <button mat-button (click)="swicthSubmitted(); getAllSubmitted()">View submitted offering categories</button>
</div>
<div class="container" *ngIf="isSubmitted">
  <h3>Submitted offering categories</h3>
  <button mat-button (click)="swicthSubmitted(); getAll()">View offering categories</button>
</div>
<h4 *ngIf="submittedOfferings.length==0 && isSubmitted">There is no submitted categories</h4>
<h4 *ngIf="offeringCategories.length==0 && !isSubmitted">There is no offering categories</h4>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="offeringCategories" *ngIf="!isSubmitted">
  
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="warn" (click)="onDelete(element.id, element.name)">
            <mat-icon>delete</mat-icon>
          </button>  
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-table #table [dataSource]="submittedOfferings" *ngIf="isSubmitted">

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="offering name">
        <mat-header-cell *matHeaderCellDef> Offering name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.offeringName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category name">
        <mat-header-cell *matHeaderCellDef> Category name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.categoryName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category description">
        <mat-header-cell *matHeaderCellDef> Category description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="approve">
        <mat-header-cell *matHeaderCellDef> Approve </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button mat-icon-button (click)="onApprove(element.categoryId, element.offeringId)">
            <mat-icon>check</mat-icon>
          </button>  
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedSubmittedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedSubmittedColumns;"></mat-row>
    </mat-table>

  </div>
  <button mat-fab color="primary" (click)="onCreate()" class="fab-button" *ngIf="!isSubmitted">
    <mat-icon>add</mat-icon>
  </button>