@use "sass:map";
@use "@angular/material" as mat;
@use "../../../theme/m3-theme.scss" as theme;

.container {
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  h3 {
    color: mat.get-theme-color(theme.$light-theme, primary);
    font-size: 3rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin: 3rem;
    margin-top: 1rem;
  }
  .fab-button {
    position: fixed;
    bottom: 20px;
    left: 110px;   
    z-index: 1000; 
  }
  .price-display {
    font-size: 1.5em;
    color: mat.get-theme-color(theme.$light-theme, primary);
    font-weight: bold;
    border: 2px solid mat.get-theme-color(theme.$light-theme, primary);
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
  }

  mat-cell button mat-icon {
    color: mat.get-theme-color(theme.$light-theme, primary);
    transition: color 0.3s ease;
  }