<div class="verification-container">
  <div class="card">
    <div class="header">
      <h2>Email Verification</h2>
    </div>

    <div class="content">
      @if (verificationStatus === 'loading') {
        <div class="status-container">
          <div class="spinner-wrapper">
            <mat-spinner diameter="50"></mat-spinner>
          </div>
          <p class="status-text">Verifying your account...</p>
        </div>
      } @else if (verificationStatus === 'success') {
        <div class="status-container success">
          <div class="status-icon success-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd"
                    d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.208Z"
                    clip-rule="evenodd"/>
            </svg>
          </div>
          <h3>Account Activated</h3>
          <p>Your email has been successfully verified.</p>
          <button mat-raised-button color="primary" routerLink="/login" class="action-button">
            Go to Login
          </button>
        </div>
      } @else if (verificationStatus === 'error') {
        <div class="status-container error">
          <div class="status-icon error-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
                    clip-rule="evenodd"/>
            </svg>
          </div>
          <h3>Verification Failed</h3>
          <p>{{ errorMessage }}</p>
        </div>
      }
    </div>
  </div>
</div>
