@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../theme/m3-theme.scss' as theme;


.container{
    border-color: mat.get-theme-color(theme.$light-theme, primary);
    height: 82vh;
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin-left: 40%;
  margin-right: 40%;

  button{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: mat.get-theme-color(theme.$light-theme, primary);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:active {
      background-color: mat.get-theme-color(theme.$light-theme, primary, 70);
    }
  }

  p{
    color: mat.get-theme-color(theme.$light-theme, primary);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
  }
}

.all-offerings-container{
    margin-left: 10vh;
    margin-right: 10vh;
    display: flex;
    justify-content: center;
    border: 2px solid mat.get-theme-color(theme.$light-theme, primary);
    border-radius: 5vh;
    flex-wrap: wrap;
    height: 90%;

    div{
      height: 47%;
      width: 17%;
      margin: 2vh;
    }
}
  