@if (!product) {
  <div class="loading-container">
    <mat-spinner diameter="48"></mat-spinner>
    <h2 class="loading-text">Loading product details...</h2>
  </div>
} @else {
  <div class="offering-container">
    <div class="offering-header">
      <h1 class="offering-name">{{ product.name }}</h1>
      <div *ngIf="showPurchaseProductButton">
        <button (click)="purchaseProduct()" class="book-button">Buy the product</button>
      </div>
    </div>
    <p class="offering-description">{{ product.description }}</p>

    <div class="offering-content">
      <div class="image-slider">
        <div [style.transform]="'translateX(-' + currentSlide * 100 + '%)'" class="slider-wrapper">
          <div *ngFor="let image of product.images" class="slider-item">
            <img [src]="image" alt="Offering Image"/>
          </div>
        </div>
        <button (click)="prevSlide()" class="prev-btn">‹</button>
        <button (click)="nextSlide()" class="next-btn">›</button>
      </div>

      <div class="offering-details">
        <div class="detail-item">
          <strong>Price:</strong> <span>${{ product.price }}</span>
        </div>
        <div class="detail-item">
          <strong>Discount:</strong> <span>{{ product.discount }}%</span>
        </div>
        <div class="detail-item">
          <strong>Offering category:</strong> <span>{{ product.offeringCategory.name }}</span>
        </div>

      </div>
    </div>

    <div class="owner-details">
      <h3>Owner</h3>
      <div class="owner-info">
        <p>{{ product.ownerInfo.name }}</p>
        <div class="buttons">
          <button (click)="chatWithOwner()" class="chat-button">Chat with Owner</button>
          <button (click)="viewOwnerCompany()" class="view-button">View Owner Company</button>
        </div>
      </div>
    </div>

    <div class="event-types">
      <h3>Event Types</h3>
      <ul>
        <li *ngFor="let eventType of product.eventTypes">{{ eventType.name }}</li>
      </ul>
    </div>
  </div>
}
