@if (currentEvents) {
<div class="container">
  <div class="header-actions">
    <button mat-raised-button color="primary" routerLink="/event">
      <mat-icon>add</mat-icon>
      Create Event
    </button>
  </div>

  <app-home-event-filter (clicked)="filterEvents($event)" />
  <div class="pagination">
    <button (click)="getPreviousPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    @if (totalPages > 0) {
    <p>{{ currentPage }}/{{ totalPages }}</p>
    } @else {
    <p>No results</p>
    }

    <button (click)="getNextPage()"><mat-icon>navigate_next</mat-icon></button>
  </div>
  <div class="home-events-container">
    <div *ngFor="let event of currentEvents">
      <app-organizer-event-card
        (clicked)="toggleFavouriteEvent($event)"
        [event]="event"
      >
      </app-organizer-event-card>
    </div>
  </div>
</div>

}
