@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../theme/m3-theme.scss' as theme;

.border-class{
  border: 2px solid; 
  color: #5b79b0;
  padding: 3rem;         /* Dodaj malo unutrašnjeg razmaka */
  border-radius: 5px; 
  display: inline-block;
}

.error-message {
  color: #f44336;
  font-size: 0.875rem;
}

.form-container {
  display: flex;
  flex-direction: row;  
  align-items: center;  
  justify-content: center;  
  gap: 20px;  
  margin-bottom: 2rem;
}

  .fab-button {
    position: fixed;
    bottom: 20px;  
    left: 100px;  
    z-index: 1000; 
  }
  .fab-save-button {
    position: fixed;
    bottom: 20px;  
    right: 20px;   
    z-index: 1000; 
  }
  .button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center; 
    gap: 20px;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }