 <div class="container">
      <h3>Top 5 Products & services</h3>
      <div *ngIf="topOfferings$ | async as topOfferings">
      <div class="top-offerings-container">
        <div class="offering-card" *ngFor="let offer of topOfferings">
          <div class="header">
            <h2>{{offer.name}}</h2>
            <mat-icon 
              class="heart" 
              [ngClass]="{'liked': offer.isFavourite}" 
              (click)="toggleFavouriteOfferings(offer.id)">
              {{ offer.isFavourite ? 'favorite' : 'favorite_border' }}
            </mat-icon>
          </div>
          <div class="organizer">
            <p>{{offer.ownerName}}</p>
          </div>
          <div class="description">
            <p>{{offer.description}}</p>
          </div>
          <div class="rating">
            <mat-icon>star</mat-icon>
            <p>{{formatRating(offer.rating)}}</p>
          </div>
          <div class="footer">
            <div class="location">
              <mat-icon>location_on</mat-icon> 
              <p>{{offer.location}}</p>
            </div>
            <div class="price">
              <mat-icon>account_balance_wallet</mat-icon>
              <p>{{offer.price}}$</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  