@use "sass:map";
@use "@angular/material" as mat;
@use "../../../theme/m3-theme.scss" as theme;

@keyframes slide-in {
  from {
    right: -350px;
  }
  to {
    right: 20px;
  }
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  h1 {
    font-size: 2.1rem;
    color: mat.get-theme-color(theme.$light-theme, primary);
    margin: 0;
  }

  mat-slide-toggle {
    display: flex;
    align-items: center;
  }
}

.notification-container {
  position: fixed;
  top: 60px;
  right: 20px;
  width: 300px;
  z-index: 1000;

  background-color: white;
  overflow-y: auto;
  max-height: 55rem;

  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  -ms-overflow-style: none;
  scrollbar-width: none;

  .notification-container::-webkit-scrollbar {
    display: none;
  }
}

.notification {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  animation: slide-in 0.5s ease-out;
  background-color: white;
  cursor: pointer;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-header button:hover {
  opacity: 0.8;
}
